*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  background-color:rgb(246, 248, 249);
  font-family: Arial, Helvetica, sans-serif;

}

/* header */
header{
  background-color: white;
  margin:0 0 40px 0;
  padding: 10px 0 10px 20px;

}

.logo{
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  font-weight: bold;
}

/* intestazione */
.intestazione{
  padding: 15px 0 1px 40px;
  border-bottom: solid gray 1px;
  padding-bottom: 15px;
}
.corpo{
  background-color: white;
  border-bottom: solid 1px gray;
  margin: 0 auto;
  width: 60%;
  border-radius: 10px 10px;
}

main div div button{
  height: 40px;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 5px;
  color: grey;
  cursor: pointer;
}

main div div button:hover{
  background-color: rgb(207, 199, 199);
}

#pulsante{
  background-color: rgb(69, 171, 234);
  color: white;
  border: solid 1px rgb(21, 177, 238);
}

#pulsante:hover{
  background-color: rgb(80, 206, 238);
}

/* corpo centrale */
h3{
  margin-top: 15px;
}

li{
  list-style: none;
  margin: 15px 0;
}

.centro{
  padding-left: 40px;
  background-color: white;
  display: block list-item none;
}

span{
  border-radius: 10px;
  border: solid 1px;
  color: white;
}

.editorial{
  background-color: rgb(69, 171, 234);
  border: solid rgb(69, 171, 234) 5px;
 
}

.goals{
  background-color: rgb(156, 114, 228);
  border: solid rgb(156, 114, 228) 5px;
}

.recruiting{
  background-color: rgb(100, 192, 169);
  border: solid rgb(100, 192, 169) 5px;
}

.mobile{
  background-color: rgb(242, 158, 51);
  border: solid rgb(242, 158, 51) 5px;
}

.website{
  background-color: rgb(216, 99, 161);
  border: solid rgb(216, 99, 161) 5px;
}

.sales{
  background-color: rgb(176, 201, 38);
  border: solid rgb(176, 201, 38) 5px;
}

.v{
  display: inline-block;
  color: rgb(146, 213, 199);
  border: solid rgb(146, 213, 199) 2px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 0 3px;
}

.x{
  display: inline-block;
  color: rgb(237, 112, 107);
  border: solid rgb(237, 112, 107) 2px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 0 3px;
}